<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1 class="h4 mb-0">HTTP Requests Demo</h1>
    </div>
    <div class="card-body">
      <div class="row g-3">        
        <div class="col-md-6">
          <button class="btn btn-success w-100 py-3" (click)="onGetPosts()">
            1. GET Posts
          </button>
        </div>        
       
        <div class="col-md-6">
          <button class="btn btn-info w-100 py-3" (click)="onGetComments()">
            2. GET Comments
          </button>
        </div>        
        
        <div class="col-md-6">
          <button class="btn btn-primary w-100 py-3" (click)="onCreatePost()">
            3. POST Empty
          </button>
        </div>        
        
        <div class="col-md-6">
          <button class="btn btn-warning w-100 py-3" (click)="onGetPostWithError()">
            4. GET With Error
          </button>
        </div>        
        
        <div class="col-md-6">
          <button class="btn btn-secondary w-100 py-3" (click)="onGetPostsWithCustomHeader()">
            5. GET With Header
          </button>
        </div>        
        
        <div class="col-md-6">
          <button class="btn btn-danger w-100 py-3" (click)="onDeletePost()">
            6. DELETE Post
          </button>
        </div>        
        
        <div class="col-12">
          <button class="btn btn-dark w-100 py-3" (click)="navigateToResolvedRoute()">
            7. Resolve Route
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>